{% extends "layout.html" %}
{% block body %}
  <br>
  <h2>Forgot Password</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <p>Please enter either your username or email address. A link to reset your password will be sent to your email address.</p>
  <br>
  <form action="{{ url_for('forgotpassword') }}" method=post>
    <dl>
      <dt>Username:
	<dd><input type=text name=username><br><br>
      <dt>Email address:
	<dd><input type=text name=email><br><br>
    <dl>
  </form>
  <br>
{% endblock %}
