{% extends "layout.html" %}
{% block body %}
  <br>
  <h2>Welcome to Fitgen!</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <p>Hello and welcome to Fitgen! Fitgen is a workout randomizer. Although Fitgen's primary
    purpose is being served, many features are still incomplete. Check back often!</p>
  <form action="{{ url_for('random_workout') }}" method=post class=add-entry>
      <dl>
	<dt>Workout type:
	<dd><input type=checkbox name="weights" checked/>Weights<br>
	<dd><input type=checkbox name="bodyweight"/>Bodyweight<br>
	<dd><input type=checkbox name="cardio"/>Cardio<br>
	<br>
        <dt>Muscle Area:
        <dd><input type=radio name="muscles" value="full" checked/>Full Body<br>
        <dd><input type=radio name="muscles" value="upper"/>Upper Body<br>
        <dd><input type=radio name="muscles" value="lower"/>Lower Body<br>
	<br>
	<dt>Force Type:
	<dd><input type=radio name="force" value="both" checked/>Both<br>
	<dd><input type=radio name="force" value="push"/>Push<br>
	<dd><input type=radio name="force" value="pull"/>Pull<br>
	<br>
	<dt>Number of exercises to add to workout:
	<select name="num_exercises">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="6">6</option>
	  <option value="7">7</option>
	  <option value="8">8</option>
	  <option value="9">9</option>
	  <option value="10">10</option>
	</select>
	<br>
	<br>
	<dt>Uncheck boxes to exclude exercises that require equipment:
	<dd><input type=checkbox name="barbell" checked/>Barbell + Weights<br>
	<dd><input type=checkbox name="dumbell" checked/>Dumbells<br>
	<dd><input type=checkbox name="kettlebell" />Kettlebells<br>
	<dd><input type=checkbox name="bench"checked/>Bench<br>
	<dd><input type=checkbox name="rack" checked/>Power Rack<br>
	<dd><input type=checkbox name="pullup" checked/>Pullup Bar<br>
	<dd><input type=checkbox name="box" checked/>Box<br>
	<dd><input type=checkbox name="jumprope" checked/>Jump-rope<br>
	<dd><input type=checkbox name="bike" checked/>Bike<br>
	<dd><input type=checkbox name="rower"checked/>Rowing Machine<br>
	<dd><input type=checkbox name="elliptical" checked/>Elliptical Machine<br>
	<dd><input type=checkbox name="climber" checked/>Stairs/Stair Machine<br>
	<dd><input type=checkbox name="pool"/>Swimming Pool<br>
	<dd><input type=checkbox name="exercise_ball"/>Exercise Ball<br>
	<dd><input type=checkbox name="medicine_ball"/>Medicine Ball<br>
	<dd><input type=checkbox name="leg_press"/>Leg Press/Hip Slide<br>
	<dd><input type=checkbox name="leg_extension"/>Leg Extension Machine<br>
        <dd><input type=checkbox name="glute_ham_chair"/>Glute & Ham Chair<br>
	<dd><input type=checkbox name="smith_machine"/>Smith Machine<br>
        <br>	
        <dd><input type=submit value="Generate">
      </dl>
    </form>
{% endblock %}
