<!doctype html>
<title>Fitgen</title>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
<div class=page>
  <h1><a href="{{ url_for('index') }}">Fitgen</a></h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a> or 
    <a href="{{ url_for('register')}}"> register</a>
  {% else %}
    Welcome, {{session.username}}! <br>
    <a href="{{ url_for('cpanel') }}">control panel</a> 
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{message}}</div>
  {% endfor %}
  {% block body %}{% endblock %}
    <br><div class=tos><center><a href="{{ url_for('termsofservice') }}">Terms of Service</a></center>Copyright 2011 Justin Hamilton</div>
